*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Mono;
  }
  .container{
   width: 100%;
   margin-inline: auto;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: hsl(185, 41%, 84%);
   
  }

  header{
    background:url("images/logo.svg") 
    no-repeat center hsl(185, 41%, 84%);
    width: 100%;
    height: 200px;
    
    
  }

  .form input:focus{
    outline-color: red;
  }

  .image{
    text-align: center;
  }


  .form{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    
    padding: 20px;
    
  }
  .bill{
    position: relative;
    margin-bottom: 20px;
  }
  .bill img{
    position: absolute;
    top: 50px;
    left: 10px;
  }

  .btn:hover{
    width: 100%;
    padding: 10px 30px;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    font-weight: 700;
    outline: none;
    border: 1px solid hsl(185, 41%, 84%);
    border-radius: 5px;
    background-color: hsl(185, 41%, 84%);
    color:hsl(186, 14%, 43%) 
  }


  .bill input{
    width: 100%;
    padding: 5px;
    font-size: 25px;
    text-align: end;
    background-color:hsl(189, 41%, 97%);
    border: 1px solid hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    border-radius: 5px;
  }

  .bill input:focus{
    outline: 3px solid hsl(185, 41%, 84%);
  }
  h3{
    margin: 10px 0px;
    color: hsl(183, 100%, 15%);
  }
  .buttons{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding-right: 20px;
    
  }
  .buttons .btn{
    width: 100%;
    padding: 10px 30px;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(183, 100%, 15%);
    outline: none;
    border: 1px solid hsl(183, 100%, 15%);
    border-radius: 5px;
  }

  .buttons input{
    font-size: 25px;
    text-align: end;
    background-color:hsl(189, 41%, 97%);
    border: 1px solid hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    
  }

  .buttons input:focus{
    outline: 3px solid hsl(185, 41%, 84%);
  }

  .people {
    position: relative;
    padding: 12px 0px;
  }
  .people input{
    width: 100%;
    padding: 5px;
    font-size: 25px;
    text-align: end;
    background-color:hsl(189, 41%, 97%);
    border: 1px solid hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    border-radius: 5px;
  }

  .people input:focus{
    outline: 3px solid hsl(185, 41%, 84%);
  }
  .people img{
    position: absolute;
    top: 70px;
    left: 22px;
  }

  .second-section{
    background-color:hsl(183, 100%, 15%) ;
    padding: 30px 10px;
    border-radius: 15px;
    
  }

  .reset-button {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color:hsl(183, 100%, 15%) ;
    background-color: hsl(186, 14%, 43%);
    outline: none;
    border: 1px solid hsl(186, 14%, 43%);
    border-radius: 5px;
  }

  .reset{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color:hsl(183, 100%, 15%) ;
    background-color: hsl(186, 14%, 43%);
    outline: none;
    border: 1px solid hsl(186, 14%, 43%);
    border-radius: 5px;
  }

  .selected-percent{
    width: 100%;
    padding: 10px 30px;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    font-weight: 700;
    outline: none;
    border: 1px solid hsl(185, 41%, 84%);
    border-radius: 5px;
    background-color: hsl(185, 41%, 84%);
    color:hsl(186, 14%, 43%) ;
  }
  

  .tip-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tip-amount h3{
    color:hsl(185, 41%, 84%) ;
  }
  .tip-amount span{
    font-size: 30px;
    font-weight: 700;
    color: hsl(184, 14%, 56%);
  }
  .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .total span{
    font-size: 30px;
    font-weight: 700;
    color: hsl(184, 14%, 56%);
  }
  .total h3{
    color:hsl(185, 41%, 84%) ;
  }
  @media screen and (min-width:700px){
    .form{
      display:grid;
      grid-template-columns: 50% 50%;
      gap: 10px;
      align-content: center;
      
    }

    .second-section button{
      margin-top: 100px;
    }

    .tip-amount span{
      font-size: 50px;
      font-weight: 700;
      color: hsl(184, 14%, 56%);
    }

    .total span{
      font-size: 50px;
      font-weight: 700;
      color: hsl(184, 14%, 56%);
    }
    
    .buttons{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
    padding-right: 20px;
    
  }
  }